<script src="validate.js"></script>
<h3>Start adding some drops</h3>
<form class="form-vertical needs-validation" id="art_form" method="POST" action="/add" role="form" data-confirm="Ready to submit?" enctype="multipart/form-data" novalidate>

<label for="title" class="form-label">Give it a title</label><br>
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Title</span>
  <input type="text" name="name" class="form-control" placeholder="Cool drop" aria-label="Username" aria-describedby="basic-addon1" required>
  <div class="valid-feedback">
      Looks good!
    </div>
  <div class="invalid-feedback">
      Please input the drop title.
  </div>
</div>

<label for="image" class="form-label">Upload your drop</label>
<div class="input-group mb-3">
  <input type="file" name="image" class="form-control" id="input-files" required>
  <label class="input-group-text" name="fileId" for="inputGroupFile02">Upload</label>
  {{ errMsg }}
  <div class="invalid-feedback">
      Please upload your drop.
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="preview-images"></div>
  </div>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">$</span>
  <input type="text" class="form-control" name="price" placeholder="0" aria-label="Amount (to the nearest dollar)" required>
  <span class="input-group-text">.00</span>
  <div class="invalid-feedback">
      Please input any amount.
  </div>
</div>

<div class="input-group">
  <span class="input-group-text">Tags</span>
  <textarea class="form-control" name="tag" aria-label="With textarea"></textarea>
</div>

<div class="input-group">
<div class="form-check">
  <input class="form-check-input" name="private" type="checkbox" value="true" id="flexCheckDefault">
  <label class="form-check-label" name="private" for="flexCheckDefault">
    Keep it private please!
  </label>
</div>
</div>

<button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>


