<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
	<!-- this tells handlebars where to place template content -->
	<!-- make sure to use triple curly braces... render content as is -->
	<h1>fav at chars!</h1>
	{{{ body }}}
	<!--   this escapes special characters, >, with html entities &gt; -->
</body>
</html>
